.portfolio__container{
    grid-template-columns: repeat(3,1fr);
}

.portfolio__item{
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}
.portfolio__img{
    height: 250px;
    width: 100%;
    object-fit: cover;
}
.portfolio__hover{
    background-color: var(--first-color);
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
    opacity: 0;
    transition: all 0.5s ease;
}
.portfolio__title{
    color: var(--text-white);
    font-size: var(--large-font-size);
    font-weight: var(--weight-500);
}
/* .portfolio__model{
    position: fixed;
    inset: 0;
    background-color: hsla(0, 0%, 0%, 0.7);
}
.model__close{
    width: 50px;
} */